---
import ProductTable from "@components/products/ProductTable.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Dashboard Inventario">
  <div class="w-full flex flex-col justify-center items-center">
    <ProductTable />
  </div>
</Layout>
