---
import InventoryTable from "@components/products/InventoryTable.tsx";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Dashboard Inventario">
  <div class="w-full flex flex-col justify-center items-center">
    <InventoryTable client:load />
  </div>
</Layout>
